.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 35%;
  display: flex;
  border-radius: 8px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: white;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.cardBody {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 120px;
}

.name {
  margin: 0 3px;
  font-weight: bold;
  font-size: 2rem;
  width: 70%;
}

.thumb {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  margin-top: 3px;
  margin-right: 3px;
  position: fixed;
  right: 0;
}

.ingredients, .instructions {
  font-weight: bold;
  margin-left: 3px;
}

.instruction {
  width: 90%;
  margin: auto;
}

.actions {
  margin-top: 9px;
  width: 100%;
}

.actions > button {
  width: 100%;
  height: 2rem;
  background-color: rgb(206, 247, 206);
  border-width: 1px;
  border-color:  rgb(216, 247, 206);
  overflow: hidden;
}

.search {
  width: 100%;
  margin: auto;
}

.search > input {
  width: 70%;
  height: 2rem;
}

.search > button {
  width: 28%;
  height: 2rem;
  background-color: rgb(206, 247, 206);
  border-width: 1px;
  border-color:  rgb(216, 247, 206);
  border-radius: 8px;
  margin :auto;
}

.error {
  color: red;
  font-weight: bold;
}

.tryAgain {
  width: 100%;
  height: 2rem;
  background-color: rgb(206, 247, 206);
  border-width: 1px;
  border-color:  rgb(216, 247, 206);
  border-radius: 8px;
}